#app {
}

/* header ================================================== */
#header {
    user-select: none;
    height: var(--header-height);
    background-color: #1d89e4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.logo {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
}

    .logo a {
        text-decoration: none;
        color: #fff;
        font-size: 1.8rem;
        padding-left: 24px;
        background-color: #0c80de;
        display: flex;
        align-items: center;
        width: 250px;
        height: 100%;
    }

        .logo a:hover {
            color: #fff;
        }

        .logo a i {
            font-size: 2.2rem;
            margin-right: 8px;
        }

.btnShowHide {
    font-size: 1.8rem;
    color: #fff;
    display: flex;
    padding: 10px 12px;
    border-radius: 50%;
    margin-left: 8px;
    align-items: center;
    user-select: none;
    cursor: pointer;
    background-color: #0c80de;
}

.sidebar-toggle {
    font-size: 1.6rem;
    color: #fff;
    user-select: none;
    display: none;
}

    .sidebar-toggle i {
        padding: 12px 8px 12px 24px;
        font-size: 2.2rem;
    }

.deck, .deck-form-add, .deck-form-edit {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .3);
    display: none;
}

.deck-form-add, .deck-form-edit {
    z-index: 3;
}

.header__avatar {
    cursor: pointer;
    position: relative;
    user-select: none;
    padding-right: 24px;
}

    .header__avatar::after {
        content: "";
        height: 10px;
        position: absolute;
        top: 100%;
        right: 0;
        left: -10px;
    }

.avatar {
    display: flex;
    align-items: center;
    color: #fff;
}

    .avatar img {
        height: 100%;
        height: 36px;
        background-color: #fff;
        border-radius: 50%;
        position: relative;
        top: 1px;
    }

    .avatar i {
        font-size: 1.6rem;
        position: relative;
        top: 2px;
        margin-left: 8px;
    }

    .avatar span {
        font-size: 1.8rem;
        margin-left: 8px;
    }

.avatar--setting {
    position: absolute;
    top: calc(100% + 6px);
    right: 23px;
    width: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .3);
    overflow: hidden;
    padding: 8px 12px;
    display: none;
    animation: show .2s ease-in;
}

.header__avatar:hover .avatar--setting {
    display: block;
}

@keyframes show {
    from {
        transform: translateY(-8px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.avatar--setting ul {
    list-style: none;
    font-size: 1.6rem;
    padding: 0;
    margin: 0;
}

.avatar--setting li {
    display: block;
}

.avatar--setting a:hover {
    background-color: #eeecec;
    color: #434343;
}

.avatar--setting hr {
    margin: 8px 0;
}

.avatar--setting a {
    text-decoration: none;
    color: #575757;
    display: block;
    padding: 10px 0 10px 12px;
    border-radius: 6px;
}

/* body ===================================================== */
#container {
    height: 100%;
    min-height: 100vh;
    display: flex;
    margin-top: 56px;
    background-color: #edf5f8;
}

#sidebar {
    position: static;
    min-width: 250px;
    /* height: 100vh; */
    background-color: #fff;
    box-shadow: 3px 0 3px rgba(0, 0, 0, .1);
    transition: .3s ease-in-out;
    z-index: 2;
    top: 0;
    bottom: 0;
}

.sidebar__list {
    display: block;
    padding: 12px 0 0 0;
    list-style: none;
    position: sticky;
    top: 56px;
}

.sidebar__item {
    height: 56px;
    width: 100%;
    padding: 4px 8px;
}

    .sidebar__item a {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        padding: 0 0 0 20px;
        text-decoration: none;
        color: #444444;
        font-size: 1.6rem;
        border-radius: 4px;
    }

        .sidebar__item a span {
            margin-left: 12px;
        }



        .sidebar__item a:hover {
            background-color: #c9c8c8;
            color: #444444;
        }

        .sidebar__item a.active,
        .sidebar__item a.active:hover {
            background-color: #1d89e4;
            color: #fff;
        }

#content {
    background-color: #edf5f8;
    flex: 1;
    height: 100%;
}


/* footer ========================================= */
#footer {
}



/* responsive ====================================== */
@media (max-width: 1023px) {
    .logo a {
        display: flex;
        justify-content: center;
        padding: 0;
        background-color: #1d89e4;
    }

    .btnShowHide {
        display: none;
    }

    .avatar span,
    .avatar i {
        display: none;
    }

    #sidebar {
        position: fixed;
        z-index: 2;
        min-height: 100%;
        transform: translateX(-100%);
    }

    .sidebar-toggle {
        display: block;
    }

        .sidebar-toggle .hide {
            display: none;
        }

        .sidebar-toggle .show {
            display: block;
        }

    #sidebar {
        transform: translateX(-100%);
    }

    #content {
        padding: 20px !important;
    }
}
