body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    position: relative;
}

    body::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url('https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA4L3Jhd3BpeGVsb2ZmaWNlMTRfM2RfaWxsdXN0cmF0aW9uX29mX3N1cGVybWFya2V0X3Jvb21fYmFja2dyb3VuZF80YTc5MDg0MC0xYTE3LTQ5OWQtODBkNC0yMjJmYjcwOTk2NzZfMS5qcGc.jpg') no-repeat center / cover;
        filter: blur(5px)
    }

.app {
    width: 760px;
    height: 480px;
    background-color: #fff;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    box-shadow: 0 0 8px rgba(0, 0, 0, .4);
    z-index: 2;
}

#form-login {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
}

.form__heading {
    font-size: 2.4rem;
    margin-bottom: 24px;
}

.error-message {
    font-size: 1.3rem;
    color: red;
    text-align: center;
    padding: 8px;
    margin: 0 0 12px;
    background-color: #f3d2d2;
    max-width: 280px;
    border-radius: 10px;
}

.form-group {
    width: 100%;
    max-width: 280px;
    margin-bottom: 16px;
}

.form-control {
    width: 100%;
    padding: 12px 15px;
    outline-color: #0c97fa;
    border-radius: 8px;
    background-color: #eee;
    border: none;
    font-size: 1.6rem;
}

.form-message {
    display: block;
    padding: 4px 0 0 8px;
    color: red;
    font-size: 1.2rem;
    user-select: none;
}

.forgot {
    font-size: 1.4rem;
    color: rgba(0, 0, 0, .8);
    text-decoration: none;
}

.form-submit {
    margin-top: 16px;
    font-size: 1.4rem;
    color: #fff;
    background-color: #1d89e4;
    border: none;
    padding: 10px 45px;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
}

.banner {
    width: 50%;
    overflow: hidden;
    border-radius: 0 150px 100px 0;
    color: #fff;
    background: url('https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA4L3Jhd3BpeGVsb2ZmaWNlMTRfM2RfaWxsdXN0cmF0aW9uX29mX3N1cGVybWFya2V0X3Jvb21fYmFja2dyb3VuZF80YTc5MDg0MC0xYTE3LTQ5OWQtODBkNC0yMjJmYjcwOTk2NzZfMS5qcGc.jpg') no-repeat left / cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-shadow: 0 0 2px #000;
}

.banner__deck {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* background: linear-gradient(45deg, #0c97fa, #16e1f5); */
    background-color: #000;
    opacity: 0.1;
}

.banner__header {
    font-size: 2.4rem;
    margin-bottom: 16px;
    z-index: 2;
}

.panner__content {
    font-size: 1.6rem;
    display: flex;
    width: 70%;
    text-align: center;
    z-index: 2;
}


@media (max-width: 739px) {
    .app {
        height: 420px;
    }

    #form-login {
        width: 100%;
    }

    .form-message {
        font-size: 1.4rem;
    }

    .form-submit {
        padding: 13px 45px;
    }

    .banner {
        display: none;
    }
}
